<h2> Company Details </h2>

<table class="table table-dark" style="width: auto;">

    <tr>
        <td><strong>Name:</strong></td>
        <td><%= @company.name.titleize %></td>
    </tr>
    
    <tr>
        <td><strong>Web_url:</strong></td>
        <td><%= @company.web_url %></td>
    </tr>
</table>

<%= link_to 'Back', companies_path,:class => "btn btn-primary text-white" %>
<%= link_to 'Edit', edit_company_path(@company),:class => "btn btn-primary text-white" %>